@page "/Autodetails/{AutomodellId:int}/"
@using Automat.Lib.Database.Model

@if (CurrentAutomodell is null)
{
    <p>Could not find Automodell with id @AutomodellId.</p>
}
else
{
    <div class="row">
        <div class="col-5 text-white">
            <h1>@CurrentAutomodell.Name</h1>
            <p>
                <b>Marke:</b> @CurrentAutomodell.Automarke.Name<br/>
                <b>Karosserieform:</b> @CurrentAutomodell.Karosserieform.Name<br/>
                <b>Listenpreis:</b> @CurrentAutomodell.Listenpreis €<br/>
                <b>Kraftstoff:</b> @CurrentAutomodell.Kraftstoff<br/>
                <b>Leistung:</b> @CurrentAutomodell.LeistungPs PS<br/>
                <b>Modelljahr:</b> @CurrentAutomodell.Modelljahr<br/>
                <b>Annzahl Sitze:</b> @CurrentAutomodell.AnzahlSitze<br/>
            </p>
            <a href="/Ergebnisanzeige"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Zurück</button></a>
        </div>
        <div class="col-7">
            <img src="@CurrentAutomodell.BildUrl" style="width: 100%" alt="@CurrentAutomodell.Automarke"/>
        </div>
    </div>
}

@code {

    [Parameter]
    public int AutomodellId { get; set; }

    private Automodell? CurrentAutomodell { get; set; }

    private IDictionary<int, Automodell>? Automodelle { get; set; }
    
    protected override void OnInitialized()
    {
        Automodelle = new Dictionary<int, Automodell>();
        Automodelle.Add(12, new Automodell()
        {
            AutomodellId = 12,
            Name = "BMW M3 Touring",
            Automarke = new Automarke() { Name="BMW" },
            Karosserieform = new Karosserieform() { Name = "Kombi"},
            Listenpreis = 101.3m,
            Kraftstoff = "Benzin",
            LeistungPs = 510,
            Modelljahr = 2022,
            AnzahlSitze = 5,
            BildUrl = "./img/autos/bmw_3er/bmw_m3_touring.jpeg"
        });
        if (Automodelle[AutomodellId] != null)
        {
            CurrentAutomodell = Automodelle[AutomodellId];
        }
    }
}