@using Automat.Lib.Database.Model
@using Automat.UI.Services
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject AutomatService _AutomatService

<div class="col-3">
    <div class="card text-center justify-content-center p-3">
        <img src="@CurrentAutomarke.LogoUrl" class="card-img-top center-block mb-3" style="width: 50%" alt="...">
        <div class="card-body p-0">
            <h5 class="card-title mb-3">@CurrentAutomarke.Name</h5>
            <input type="checkbox" class="btn-check" id="@CurrentAutomarke.AutomarkeId-automarke" autocomplete="off" @bind="Ausgewaelt" @onclick="Toggle">
            <label class="btn btn-outline-secondary" for="@CurrentAutomarke.AutomarkeId-automarke">@ButtonText</label><br>
        </div>
    </div>
</div>

@code {
    
    [Parameter]  
    public Automarke CurrentAutomarke { get; set; }

    private string ButtonText = "Ausw채hlen";
    private bool Ausgewaelt = false;

    protected override void OnInitialized()
    {
        if (_AutomatService.getAutomat().GetFavoritenauswahl().GetBenutzerMarken().Contains(CurrentAutomarke))
        {
            Ausgewaelt = true;
            ButtonText = "Ausgew채hlt";
        }
    }
    
    private void Toggle()
    {
        Ausgewaelt = !Ausgewaelt;
        if (Ausgewaelt)
        {
            _AutomatService.getAutomat().GetFavoritenauswahl().AddBenutzerMarke(CurrentAutomarke);
            ButtonText = "Ausgew채hlt";
        }
        else
        {
            _AutomatService.getAutomat().GetFavoritenauswahl().RemoveBenutzerMarke(CurrentAutomarke);
            ButtonText = "Ausw채hlen";
        }
    }
}